<div class="about row">
  <img src="../assets/image/main.jpg">
  <div class="text-on-picture col s12 m6 l6 offset-m5 offset-l5">
    <span class="flow-text white-text" style='font-size:2.5em'>Hi! I'm </span><span class="flow-text white-text" style='font-size:2.5em'>Peter Lee </span>
      <p class="flow-text white-text" style='height:0.2em;'>I'm looking for opportunities in</p><div class="typed-about flow-text yellow-text" style='height:1em;font-size:2.2em'></div>
      <p class="flow-text white-text">My research interest includes Data Infa, Data Science, Backend, iOS and IoT. Contributor of TensorFlow, Rocket.Chat and Nvidia Jetson community and other open-source projects. In my free time, I like to build some interesting IoT project. </p>
    </p>
  </div>
</div>
<div class="skills container-fixed row">
  <h3>Skills</h3>
  <div class="container-fixed row" style="position: relative;">
      <div style="filter: blur(10px); opacity: 0.8;position: absolute;width: 100%;height: 100%;background-color: black;">
          {% include PETER.svg %}
      </div>
        
      {% for skill in site.data.work.skills %}
        <div class="col s6 m4 l4">
          <div class="card">
            <div class="card-content">
              {% for p in skill.p %}
                <p class="flow-text">{{p}}</p>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %}
  </div>  
</div>