<div class="about row">
  <img src="../assets/image/main.jpg">
  <div class="text-on-picture col s12 m6 l6 offset-m5 offset-l5">
    <span class="flow-text white-text" style='font-size:2em'>Hi! I'm </span><span class="flow-text white-text" style='font-size:2.5em'>Peter Lee </span>
    <p class="flow-text white-text" style='height:0.2em;'>I'm looking for opportunities in</p>
    <div class="typed-about flow-text yellow-text" style='height:1em;font-size:2.2em'></div>
    <p class="flow-text white-text">My research interest includes Data Infa, Data Science, Backend, and IoT.
      With passion on open source, I like to share my project to community and attend related conference.
        Now, I contributed to TensorFlow, Rocket.Chat and Nvidia Jetson community and other projects.
    </p>
    </p>
  </div>
</div>
<div style="position: relative;;width: 100%;height: 200px">
    {% include PETER.svg %}
</div>
