<div class="container-fixed">
  <h3>{{include.text}}</h3>
  <div class="row">
    {% for award in site.data.award %}
     <div class="col s6 m4 l3">
       <div class="card award">
          {% if award.materialboxed %}
            <div class="materialboxed card-image" data-caption="{{award.p[0]}}" style="background-image: url({{award.image}}); background-size: contain; background-position: center center; background-repeat: no-repeat no-repeat;">
            </div>
          {% else %}
            <div class="card-image" style="background-image: url({{award.image}}); background-size: contain; background-position: center center; background-repeat: no-repeat no-repeat;">
            </div>
          {% endif %}
         <div class="card-content">
           <span class="card-title">{{award.title}}</span>
           <br>
           {% for p in award.p %}
             <p class="light center">{{p}}</p>
           {% endfor %}
         </div>
         <!-- <div class="card-action">
           <a href="#">This is a link</a>
         </div> -->
       </div>
     </div>
      {% endfor %}
   </div>
   {% include parallax.html title='' image='/assets/image/code.png' %}

</div>
