<div class="container-fixed">
  <br>
  <h3>{{include.text}}</h3>
  <div class="row">
    {% for award in site.data.award %}
     <div class="col s6 m4 l3">
       <div class="card">
         <div class="card-image">
          {% if award.materialboxed %}
           <!-- <img class="materialboxed responsive-img" data-caption="{{award.p[0]}}" src="{{award.image}}"> -->
            <div class="materialboxed" data-caption="{{award.p[0]}}" style="height:300px;background-image: url({{award.image}}); background-size: contain; background-position: center center; background-repeat: no-repeat no-repeat;">
            </div>
          {% else %}
            <!-- <img data-caption="{{award.p[0]}}" class="responsive-img" src="{{award.image}}"> -->
            <div data-caption="{{award.p[0]}}" style="height:300px;background-image: url({{award.image}}); background-size: contain; background-position: center center; background-repeat: no-repeat no-repeat;">
            </div>
          {% endif %}
         </div>
         <div class="card-content" style='height:250px'>
           <span class="card-title">{{award.title}}</span>
           <br>
           {% for p in award.p %}
             <p class="light center">{{p}}</p>
           {% endfor %}
         </div>
         <!-- <div class="card-action">
           <a href="#">This is a link</a>
         </div> -->
       </div>
     </div>
      {% endfor %}
   </div>
   {% include parallax.html title='' image='/assets/image/code.png' %}

</div>
