<div class="container-fixed">
     <h4>Education</h4>
     <div class="row">
       {% for education in site.data.education.education %}
           <div class="col s6">
             <div class="center promo">
               <img src="{{education.logo}}" style='width:100%;max-width:300px'>
               <p class="promo-caption">{{education.name}}</p>
               {% for p in education.p %}
                 <p class="light center">{{p}}</p>
               {% endfor %}
             </div>
           </div>
       {% endfor %}
       </div>
</div>
