<div class="col s12 m8 l6 offset-l3">
  <div class="card-panel grey lighten-5 z-depth-1">
    <div class="row valign-wrapper">
      <div class="col s4 m2">
        <img src="/assets/image/UOA_logo.gif" alt="" class="responsive-img"> <!-- notice the "circle" class -->
      </div>
      <div class="col s8 m10">
        <span class="black-text">
          This is a square image. Add the "circle" class to it to make it appear circular.
        </span>
      </div>
    </div>
  </div>
</div>
<div class="col s12 m8 l6 offset-l3">
  <div class="card-panel grey lighten-5 z-depth-1">
    <div class="row valign-wrapper">
      <div class="col s4 m2">
        <img src="/assets/image/tku_logo.gif" alt="TKU" class="circle responsive-img"> <!-- notice the "circle" class -->
      </div>
      <div class="col s8 m10">
        <span class="black-text head">
            2011-2014
        </span>
        <span class="black-text">
xx
        </span>
      </div>
    </div>
  </div>
</div>
