<!-- <div class="parallax-container">
    <div class="parallax"><img src="/assets/image/line.jpg" width='100%'></div>
  </div> -->


  <div class="parallax-container valign-wrapper">
      <!-- <div class="section no-pad-bot"> -->
        <div class="center container-fixed col s12">
            <h3 class="light white-text" style='text-shadow: 0px 0px 5px #222;'>Line Dev Day 2016.  Shibuya, Tokyo.</h3>
          </div>
      <!-- </div> -->
      <div class="parallax"><img src="/assets/image/line.jpg" alt="Unsplashed background img 3" style="width:100%"></div>
    </div>
