<div class="container-fixed">
 <hr>
 <h3>Projects</h3>
 <div class="row">
   {% for project in site.data.project %}
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-image">
          <img class="" data-caption="{{project.title}}" src="{{project.image}}" style='height:auto;width:60%'>
        </div>
        <div class="card-content">
          <span class="card-title">{{project.title}}</span>
          {% for p in project.p %}
            <p class="light center">{{p}}</p>
          {% endfor %}
        </div>
        <div class="card-action">
          <a class="waves-effect waves-light modal-trigger" href="#publication-{{forloop.index}}">preview</a>
        </div>
      </div>
    </div>
     {% endfor %}
  </div>
  {% for project in site.data.project %}
   <div id="publication-{{forloop.index}}" class="modal">
     <div class="modal-content">
       <h4>{{project.title}}</h4>
       {% for p in project.p %}
         <p class="light center">{{p}}</p>
       {% endfor %}

     </div>
     <div class="modal-footer">
       <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
     </div>
   </div>
  {% endfor %}
</div>
