<div class="container-fixed">
 <h3>Selected Projects</h3>
   <div class="row">
   {% for project in site.data.project %}
     <div class="col s12 m6 l4">
      <div class="project card">
        <div class="card-image" style="background-image: url({{project.image}}); background-size: contain; background-position: center; background-repeat: no-repeat;">
        </div>
        <div class="card-content">
          <span class="card-title">{{project.title}}</span>
          {% for p in project.p %}
            <p class="light" style='text-align:left;'>{{p}}</p>
          {% endfor %}
        </div>
        <div class="card-action">
          {% if project.github %}
            <a class="waves-effect waves-light" target='_blank' href="{{project.github}}">Github</a>
          {% else %}
            <a class="waves-effect waves-light modal-trigger" id="modal-project-{{forloop.index}}" data-source="/project_detail" href="#project-{{forloop.index}}">More</a>
          {% endif %}
        </div>
      </div>
  </div>
  {% endfor %}
  </div>

  {% for project in site.data.project %}
    <div id="project-{{forloop.index}}" class="modal modal-fixed-footer">
        <div class="loader inner-center"></div>
    </div>
  {% endfor %}

  {% include parallax.html title='Line Dev Day Pre-Event - Student Day<br>2016 8/28' image='/assets/image/line2.jpg' %}
</div>
