<div class="block">
<div class="container-fixed">
  <h2>{{include.text}}</h2>
    {% for project in site.data.project %}
    <div class="row valign-wrapper">
          <div class="col s12 l4">
              {% if project.materialboxed %}
               <img class="materialboxed" data-caption="{{project.p[0]}}" src="{{project.image}}" style="max-height:300px">
              {% else %}
                <img data-caption="{{award.p[0]}}" src="{{project.image}}" style="max-height:300px">
              {% endif %}
              <span class="title center">{{project.title}}</span>
         </div>
         <div class="col s12 l8">
           {% for p in project.p %}
             <p class="light center">{{p}}</p>
           {% endfor %}
           <div>
             <a href="#">This is a link</a>
           </div>
         </div>
       </div>
      {% endfor %}
 </div>
</div>
