<div class="container-fixed">
  <h3>Publications</h3>
    <div class="row">
      {% for publication in site.data.education.publications %}
       <div class="col s12 m12 l6">
         <div class="publication card">
           <div class="materialboxed card-image" data-caption="{{award.p[0]}}" style="background-image: url({{publication.image}}); background-size: contain; background-position: center center; background-repeat: no-repeat no-repeat;">
           </div>
           <div class="card-content">
             <span class="card-title">{{publication.title}}</span>
             {% for p in publication.p %}
               <p class="light center">{{p}}</p>
             {% endfor %}
           </div>
           <div class="card-action">
           <a class='waves-effect waves-light btn modal-trigger' target='_blank' href="{{publication.link}}">Fulltext</a>
             <a class="waves-effect waves-light btn modal-trigger" href="#publication-{{forloop.index}}">preview</a>
           </div>
         </div>
       </div>
        {% endfor %}
     </div>
     {% for publication in site.data.education.publications %}
      <div id="publication-{{forloop.index}}" class="modal modal-fixed-footer">
        <div class="modal-content">
          <h4>{{publication.title}}</h4>
          {% for p in publication.p %}
            <p class="light center">{{p}}</p>
          {% endfor %}

        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>
     {% endfor %}

</div>
