<div class="container-fixed  row">
  <br>
  {% for skill in site.data.work.skills %}
   <div class="col s6 m4 l4">
     <div class="card">
       <div class="card-content">
         <h5>{{skill.title}}</h5>
         <hr><br>
         {% for p in skill.p %}
           <p class="flow-text">{{p}}</p>
         {% endfor %}
       </div>
     </div>
   </div>
    {% endfor %}
 </div>

<div class="block container-fixed">
    <h3>Work</h3>
    <div class="container-fixed col s12 l12">
        {% for work in site.data.work.work %}
       <div class="card-panel grey lighten-5 z-depth-1">
         <div class="row valign-wrapper s12 l6">
           <div class="col s4">
             <img src="{{work.image}}" alt="" class="responsive-img" style='max-width:100px;border-radius:10px;over-flow:hidden;position:relative'>
             <p class="promo-caption flow-text">{{work.title}}</p>
             <p class="promo-caption"> {{work.position}}</p>
             <p class="promo-caption" font-color='red'> {{work.time}}</p>
             <p class="promo-caption"> {{work.location}}</p>
           </div>
           <div class="col s8">
             <span class="black-text flow-text">
               {% for p in work.p %}
                 <p  style='font-size:0.8em;line-height:2em'>{{p}}</p>
               {% endfor %}
             </span>
           </div>
         </div>
     </div>
      {% endfor %}
   </div>
{% include parallax.html title='Line Dev Day 2016.  Shibuya, Tokyo.' image='/assets/image/line.jpg' %}
</div>
