{% comment %}
<!-- <div class="work block">
<div class="container-fixed">
  <h2>{{include.text}}</h2>
  <div class="row">
    {% for work in site.data.work %}
     <div class="col s12 m6 l4">
       <div class="card">
         <div class="card-image">
           <img src="{{work.image}}"/>
           <span class="card-title">{{work.title}}</span>

         </div><div class="work block">
<div class="container-fixed">
  <h2>{{include.text}}</h2>
  <div class="row">
    {% for work in site.data.work %}
     <div class="col s12 m6 l4">
       <div class="card">
         <div class="card-image">
           <img src="{{work.image}}"/>
           <span class="card-title">{{work.title}}</span>

         </div>
         <div class="card-content">
           <p>{{work.position}}</p>
           {% for p in work.p %}
             <p class="light center">{{p}}</p>
           {% endfor %}
         </div>
         <div class="card-action">
           <a href="#">This is a link</a>
         </div>
     </div>
      {% endfor %}
   </div>
{% include parallax.html title='Line Dev Day 2016.  Shibuya, Tokyo.' image='/assets/image/line.jpg' %}
</div>
</div>

<div class="container-fixed row">
    {% for work in site.data.work %}
    <div class="col s12 m6 l6">
     <h2 class="header">{{work.title}}</h2>
     <span>{{work.position}}</span>
     <div class="card horizontal">
       <div class="card-image">
         <img src="{{work.image}}"/>
       </div>
       <div class="card-stacked">
         <div class="card-content">
           {% for p in work.p %}
             <p>{{p}}</p>
           {% endfor %}
         </div>
         <div class="card-action">
           <a href="#">This is a link</a>
         </div>
       </div>
     </div>
   </div>
     {% endfor %}
</div>
         <div class="card-content">
           <p>{{work.position}}</p>
           {% for p in work.p %}
             <p class="light center">{{p}}</p>
           {% endfor %}
         </div>
         <div class="card-action">
           <a href="#">This is a link</a>
         </div>
       </div>
     </div>
      {% endfor %}
   </div>
{% include parallax.html title='Line Dev Day 2016.  Shibuya, Tokyo.' image='/assets/image/line.jpg' %}
</div>
</div>

<div class="container-fixed row">
    {% for work in site.data.work %}
    <div class="col s12 m6 l6">
     <h2 class="header">{{work.title}}</h2>
     <span>{{work.position}}</span>
     <div class="card horizontal">
       <div class="card-image">
         <img src="{{work.image}}"/>
       </div>
       <div class="card-stacked">
         <div class="card-content">
           {% for p in work.p %}
             <p>{{p}}</p>
           {% endfor %}
         </div>
         <div class="card-action">
           <a href="#">This is a link</a>
         </div>
       </div>
     </div>
   </div>
     {% endfor %}
</div>
</div> -->
{% endcomment %}

<div class="container-fixed col s12 l12">
      {% for work in site.data.work %}
     <div class="card-panel grey lighten-5 z-depth-1">
       <div class="row valign-wrapper">
         <div class="col s3">
           <img src="{{work.image}}" alt="" class="responsive-img" width="100%" style='border-radius:10px;'> <!-- notice the "circle" class -->
           <p class="promo-caption">{{work.title}}</p>
           <p class="promo-caption"> {{work.position}}</p>
           <p class="promo-caption"> {{work.time}}</p>
           <p class="promo-caption"> {{work.location}}</p>
         </div>
         <div class="col s9">
           <span class="black-text flow-text">
             {% for p in work.p %}
               <p>{{p}}</p>
             {% endfor %}
           </span>
         </div>
       </div>
     </div>
      {% endfor %}
</div>
