<div class="work block">
  <div class="container-fixed">
    <h2>{{include.text}}</h2>
    <div class="container-fixed col s12 l12">
        {% for work in site.data.work %}
       <div class="card-panel grey lighten-5 z-depth-1">
         <div class="row valign-wrapper">
           <div class="col s3">
             <img src="{{work.image}}" alt="" class="responsive-img" width="100%" style='border-radius:10px;'> <!-- notice the "circle" class -->
             <p class="promo-caption">{{work.title}}</p>
             <p class="promo-caption"> {{work.position}}</p>
             <p class="promo-caption"> {{work.time}}</p>
             <p class="promo-caption"> {{work.location}}</p>
           </div>
           <div class="col s9">
             <span class="black-text flow-text">
               {% for p in work.p %}
                 <p>{{p}}</p>
               {% endfor %}
             </span>
           </div>
         </div>
       </div>
        {% endfor %}
     </div>
  </div>
</div>
