header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.profile-image {
  margin-top: 20px;
  text-align: center;
  border-bottom: 1px solid #d1d1d1;
  img{
    width: 50%;
    height: auto;
    border-radius: 50%;
  }
}


main{
  // margin-top: 40px;
  p {
    font-size: 15px;
  }
  strong{
    font-size: 20px;
  }
}

.contain {
  width:90%;
  margin: auto;
    padding: 10px;
}

.block {
  // position: relative;
  padding-top:80px;
}

.mobile-side {
    background-color: red;
}

@media screen and (min-width: 992px) {
    .navbar-fixed {
        display: none;
    }
    .mobile-side {
        display: none;
    }
}
