<div class="parallax-container valign-wrapper">
  <div class="center container-fixed col s12">
      <h3 class="light white-text" id="typed-{{include.id}}">{{include.title}}</h3>
  </div>
  <div class="parallax"><img src="{{include.image}}"></div>
</div>

<div class="container-fixed">
    <img class="code" src="/assets/image/code.png" width="100%" style='overflow: hidden;position:relative'></img>
</div>

<style>
    .code {
      background: black;
      transform: skewY(20deg);
      transform-origin: top;
      -webkit-transform: skewY(-9deg);
      -webkit-transform-origin: 0 0;
      z-index: -1;
    }
    /* .element
    {
      -webkit-transform: skewY(-9deg);
      -webkit-transform-origin: 0 0;
    } */

</style>
