<div class="profile-image" >
  <img src={{ site.data.menu.img }}>
  <h5>{{site.data.menu.name}}</h5>
</div>
{% for menu in site.data.menu.menus %}
      {% if menu.divider %}
          <li><div class="divider"></div></li>
      {% elsif menu.icon and menu.link != "" %}
          <li><a style='font-size:16px' class="menu-link waves-effect waves-dark" href="{% if menu.target ==null %}#{% endif %}{{menu.link}}" {{menu.target}}><i class="material-icons">{{menu.icon}}</i>{{menu.text}}</a></li>
      {% endif %}
{% endfor %}
<br>
<br>
<footer class="container-fixed">
  {% for icon in site.data.menu.footer-icons %}
    <!-- <a href={{icon.link}} target='_blank' style='padding:10px'><i class="{{icon.icon}} fa-2x" style='color:black'></i></a> -->
    <a href={{icon.link}} target='_blank' style='padding:10px'>
      <svg class='icon' style='width:2em;height:2em'><use xlink:href='/assets/font/fontawesome.svg#{{icon.icon}}'></use></svg>
    </a>
  {% endfor %}
</footer>
