<div class="profile-image" >
  <img src={{ site.data.menu.img }}>
  <p>{{site.data.menu.name}}</p>
</div>
{% for menu in site.data.menu.menus %}
      {% if menu.divider %}
          <li><div class="divider"></div></li>
      {% elsif menu.icon %}
          <li><a class="menu-link waves-effect waves-dark" href="{% if menu.target ==null %}#{% endif %}{{menu.link}}" {{menu.target}}><i class="material-icons">{{menu.icon}}</i>{{menu.text}}</a></li>
      {% endif %}
{% endfor %}
<br>
<br>
<footer class="container-fixed">
  {% for icon in site.data.menu.footer-icons %}
    <a href={{icon.link}} target='_blank' style='padding:10px'><i class="{{icon.icon}} fa-2x" style='color:black'></i></a>
  {% endfor %}
</footer>
