.about {
  position: relative;
  background: transparent; }
  .about img {
    width: 100%; }

.text-on-picture {
  text-align: center;
  font-size: 18px;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  right: 0px;
  top: 10%; }

.parallax-container {
  max-height: 400px; }
  .parallax-container .parallax img {
    width: 100%; }
  .parallax-container h3 {
    text-shadow: 5px 5px 10px #2ff082; }

.profile-image {
  margin-top: 20px;
  text-align: center;
  border-bottom: 1px solid #d1d1d1; }
  .profile-image img {
    width: 50%;
    height: auto;
    border-radius: 50%; }

.card-image {
  overflow: hidden;
  position: relative; }
  .card-image img {
    height: auto;
    margin: 0 auto; }

main p {
  font-size: 15px; }

main strong {
  font-size: 20px; }

.container-fixed {
  text-align: center;
  width: 100%;
  margin: auto;
  padding: 10px; }

.block {
  padding-top: 40px; }

header, main, footer {
  padding-left: 300px; }

nav {
  background-color: #2b92ee; }

.page-footer {
  background-color: #2b92ee; }

.active > i.material-icons {
  color: #2b92ee !important; }

.active {
  color: #2b92ee !important; }

@media only screen and (max-width: 992px) {
  header, main, footer {
    padding-left: 0; }
  .text-on-picture {
    top: 10%;
    bottom: 0%;
    background: rgba(0, 0, 0, 0.7); } }

@media only screen and (max-width: 600px) {
  .text-on-picture {
    top: 0%;
    left: 0%;
    position: relative;
    background: rgba(0, 0, 0, 0.9); } }

@media screen and (min-width: 992px) {
  .navbar-fixed {
    display: none; }
  .mobile-side {
    display: none; } }
